@import url(https://fonts.googleapis.com/css?family=Hanken+Grotesk:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    color: #ffffff;
}

.navbar {
    background-color: #030303f5;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 2px solid #ffffff;
}

.navbar-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo a img {
    width: 130px;
    object-fit: cover;
}

.links-container {
    width: 60%;
}

.links-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 30px;
}

.link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    transition: all 0.5s ease;
}

.link-item:hover,
.link-item.active {
    padding-bottom: 5px;
    border-bottom: 2px solid #ffffff;
}

.navbar-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    font-family: 'Hanken Grotesk';
}

.icons-container {
    width: 20%;
}

.icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
}

.icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navbar-icon {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
}

#mobile_btn,
#mobile_menu {
    display: none;
}

.bg {
    position: relative;
    overflow: hidden;
}

.bg-blur::before {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, rgba(30, 30, 200, 0.4) 0%, rgba(30, 30, 200, 0) 70%);
    border-radius: 50%;
    filter: blur(80px);
    z-index: 1;
    pointer-events: none;
    top: 70%;
    right: 85%;
    transform: translateY(-50%);
}

.dots-container {
    position: absolute;
    bottom: 50px;
    left: 9%;
    top: 90%
}

.dots-list {
    display: flex;
    gap: 10px;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
}

.line {
    position: absolute;
    left: 90%;
    top: 90%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background: #ffffff;
}


.home-container {
    padding: 6rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    z-index: 2;
}

.home-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    z-index: 2;
}

.home-title {
    color: #ffffff;
    font-size: 5rem;
    font-weight: 950;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Hanken Grotesk';
}

.home-subtitle {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 300;
    text-decoration: overline;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Hanken Grotesk';
    margin-bottom: 15px;
}

.contact-btn {
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: #000000;
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
    margin-top: 15px;
}

.contact-btn:hover {
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
}

.contact-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Hanken Grotesk';
}

.home-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-list-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.home-icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.home-icon-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6rem;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #1900ff;
    box-shadow: 0px 0px 60px 15px rgba(0, 30, 255, 0.5);
    transition: all .5s ease;
}

.home-img:hover {
    transform: scale(1.1);
}

.home-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.section1,
.section2,
.section3 {
    min-height: 100vh;
}

.about-container {
    padding: 6rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    z-index: 2;
}

.section-title {
    font-family: 'Hanken Grotesk';
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 950;
    padding: 30px;
}

.about-banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
}

.about-code {
    width: 50%;
    margin: 20px;
    background: rgba(5, 1, 67, 0.26);
    border: 1px solid rgba(56, 63, 255, 0.3);
    border-radius: 12px;
    padding: 30px;
    font-family: 'Fira Code';
    font-size: 1.1rem;
    color: #1900ff;
    transition: all .3s ease;
    z-index: 2;
}

.about-code:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px 4px rgba(4, 0, 89, 0.52);
    background: #000000;
}

.code-line {
    margin-bottom: 8px;
}

.code-line.indent {
    margin-left: 20px;
}

.about-desc {
    width: 50%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-desc {
    font-size: 1.2rem;
    font-family: 'Hanken Grotesk';
    padding: 5px;
}

.skills h3 {
    font-family: 'Hanken Grotesk';
    padding: 5px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-tag {
    font-family: 'Fira Code';
    background: rgba(56, 69, 255, 0.1);
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.9rem;
    border: 1px solid rgba(56, 56, 255, 0.3);
    transition: all 0.3s ease;
}

.skill-tag:hover {
    background: #1900ff;
    transform: scale(1.05);
}

.curriculum-container {
    padding: 6rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    z-index: 2;
}