@import url(./mobile/mobile-about.css);
@import url(./tablet/tablet-about.css);

.about-container {
    padding: clamp(3rem, 6vw, 6rem) 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.about-banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
}

.about-code {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.code-container {
    width: 100%;
    background: rgba(6, 0, 84, 0.27);
    border: 1px solid rgba(56, 63, 255, 0.3);
    border-radius: 12px;
    padding: 30px;
    font-family: "Fira Code";
    font-size: 1.1rem;
    color: #0084ff;
    transition: all 0.3s ease;
}


.code-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px 4px rgba(4, 0, 89, 0.52);
    background: #000000;
}

.code-line {
    margin-bottom: 8px;
}

.code-line.indent {
    margin-left: 20px;
}

.about-desc {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
}

.text-desc {
    font-size: 1.2rem;
    padding: 5px;
}

.skills h3 {
    text-align: center;
    padding: 5px;
    margin: 20px 0;
    font-size: 1.2rem;
}

.skills-grid {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skill-tag {
    font-family: "Fira Code";
    background: rgba(56, 69, 255, 0.1);
    padding: 8px;
    border-radius: 20px;
    font-size: 0.9rem;
    border: 1px solid rgba(56, 56, 255, 0.3);
    transition: all 0.3s ease;
}

.skill-tag:hover {
    background: #1900ff;
    transform: scale(1.05);
}