@import url(./mobile/mobile-navbar.css);
@import url(./tablet/tablet-navbar.css);

.navbar {
    background-color: #030303f5;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #ffffff;
    z-index: 9999999;
}

.navbar-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo a img {
    width: 100px;
    object-fit: cover;
}

.links-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 30px;
}

.link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    transition: all 0.5s ease;
}

.link-item:hover,
.link-item.active {
    padding-bottom: 5px;
    border-bottom: 2px solid #ffffff;
}

.navbar-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
}

.icons-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
}

.icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navbar-icon {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
}

.mobile-menu-icon, .mobile-menu {
    display: none;
}