@import url(../about.css);

@media screen and (max-width: 768px) {
    .about-container {
        padding: 5px;
        align-items: center;
        justify-content: center;
    }

    .about-container .section-title {
        font-size: 1.3rem;
        margin-top: 3rem;
    }

    .about-banner {
        flex-direction: column;
        gap: 30px;
    }

    .about-banner .about-code {
        width: 100%;
        padding: 0 2rem;
    }

    .about-code .code-container {
        padding: 15px;
    }

    .about-banner .about-desc {
        width: 100%;
        padding: 0 2rem;
    }

    .skills {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .skills .skills-grid {
        flex-wrap: wrap;
    }

    .about-banner .contact-link {
        font-size: 1.2rem;
    }
}